<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.just.sun">

    <!-- 直播权限 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- //地图包、搜索包需要的基础权限 -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- //定位包、导航包需要的额外权限（注：基础权限也需要） -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!-- <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /> -->

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="875b657c6faf675883273e81eeaf88c1" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.VideoActivity"
            android:label="@string/title_activity_video" />
        <activity
            android:name=".activitys.OtherActivity"
            android:label="@string/title_activity_other" />
        <activity android:name=".activitys.LoadingActivity" />
        <activity android:name=".activitys.LoadingBasicActivity" />
        <activity android:name=".activitys.LoadingDialogActivity" />
        <activity android:name=".activitys.FramlayoutActivity" />
        <activity android:name=".activitys.ZanActivity" />
        <activity android:name=".activitys.PropertyAnimationActivity" />
        <activity android:name=".activitys.DanmuActivity" />
        <activity android:name=".activitys.SunDanmuActivity" />
        <activity android:name=".live.LiveMainActivity" />
        <activity android:name=".live.LivePlayerDemoActivity" />
        <activity android:name=".live.LivePublisherDemoActivity" />
        <activity android:name=".rs.MonoRsActivity" />
        <activity
            android:name=".jni.JniHelloActivity"
            android:label="@string/title_activity_jni_hello" />
        <activity android:name=".live.BiliPlayerActivity" />
        <activity android:name=".live.BiliNodeActivity" />
        <activity android:name=".activitys.LutScriptActivity" />
        <activity android:name=".gpulutimage.GpuImageActivity"></activity>
    </application>

</manifest>